@model mvc.northwind.EF.Category
@{
    ViewBag.Title = "Display Category";
    Layout = "~/Views/Layouts/Category/_base.cshtml";
}

<h2>Entity</h2>

<form action="Update" method="post">
    @Html.HiddenFor(x => x.CategoryID)

    <div>
        <hr />
        @Html.TextBoxFor(x => x.CategoryName)
        @Html.TextBoxFor(x => x.Description)
    </div>

    <input type="submit" value="Update" />
</form>
